#################
## App
#################

#config/

#################
## Redis
#################

*.rdb

#################
## Flash Builder
#################

bin-debug/

#################
## Node
#################

node_modules/

#################
## npm
#################

npm-debug.log

#################
## Windows
#################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini